node_modules/
dist/
*.local
.DS_Store

# Virtual environment
.venv/
venv/
ENV/

# Python byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables (sensitive data)
.env

# Code editor configurations
.vscode/
.idea/

